extends index.pug

block content
    form(class="loginForm", action="/login/try", method="post")
        h2 Login
        div(class="idForm")
            input(type="email", name="email", class="id" placeholder="Email")
        div(class="passForm")
            input(type="password", name="password" class="pw", placeholder="Password")
        input(type="submit", value="Login" class="btn")

        div(class="bottomText") Don't you have ID?
            a(href="/signup") sign up
