@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UhBeepuding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
    color: blue;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'UhBeepuding';
}

.add_cloth {
  margin: auto 1px;
}

.back_button {
  list-style-type: none;
  padding: 15px;
  background-color: darkslategrey;
  text-align: center;
}

.back_button:hover {
  background-color:	#B0C4DE;
}

.back_button > a {
  text-decoration: none;
  color: white;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    list-style-type: none;
}

/* #editClothCategory {
  visibility: hidden;
} */

.nav-container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #20B2AA;
  list-style-type: none;
}

.nav-item, .nav-item2{
    padding: 15px;
    cursor: pointer;
}

.nav-item:nth-child(4) {
    margin-right: 55px;
}

.nav-item:nth-child(2) {
    color: white;
}

.nav-item2:hover {
  background-color:	#B0C4DE;
}
.nav-item:hover {
    background-color: grey;
}

.nav-item2 a,p {
  text-align: center;
  text-decoration: none;
  color: white;
}

.nav-item a,p {
    text-align: center;
    text-decoration: none;
    color: white;
}

.loginForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  #editForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }

  .edit-p {
    color:rgba(0, 0, 0, 0.15);
  }
  #View_area {
    position:relative; 
    color: black; 
    width: 960px;
    height: 1080px;
    border: 0px solid black; 
    display: inline;
  }
  .loginForm h2{
    text-align: center;
    margin: 30px;
  }
  
  .idForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .btn:hover {
    background-position: right;
  }
  
  .bottomText {
    text-align: center;
  }

  #body {
    margin: 1px auto 0;
    /* max-width: 880px;
    min-height: 827px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 45px 40px 46px;
    z-index: 1;
  }

  #body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background: url('../image/mainback.jpg');
    z-index: -1;
  }

  #body > h2 {
    color: #21a51e;
    font-family: 'GmarketSansMedium';
    font-weight: normal;
    margin: 0;
    padding: 0 0 44px;
  }
  #body img.figure {
    display: block;
    float: right;
    margin: 74px 38px 46px 0;
    max-width: 100%;
    width: auto;
  }

  #body div#tagline h1 {
    background: url(../image/bg-separator.png) no-repeat center bottom;
    color: 	#DA70D6;
    font-family: 'LAB디지털';
    font-size: 75px;
    font-weight: normal;
    line-height: 100px;
    margin: 0;
    padding: 0 0 55px;
    text-align: center;
  }

#wrapper {
  font-family: 'UhBeepuding';
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.detailImg {
  
  width: 30%;
  float: left;
}

.detailImg img{
  width: 100%;
  margin: 30px 30px;
}
.detailDiv {
  width: 70%;
  float: right;
  margin: auto 0;
  text-align: center;
}
.images {
  font-family: 'UhBeepuding';
  align-items: center;
  justify-content: center;
  
  width: 100%;
}
.detailPrice {
  color: black;
}
.images img{
  display: block;
  margin: 20px auto;
}
  #body div#tagline p {
    color:	#DA70D6;
    font-family: 'LAB디지털';
    font-size: 40px;
    line-height: 100px;
    padding: 43px 0 0;
    text-align: center;
  }

  .box {
    color: rgba(255, 255, 255, 0.75);
		border-radius: 4px;
		margin-bottom: 2em;
		background: #2c2c32;
		text-align: center;
  }
  .inner > a {
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		color: rgba(255, 255, 255, 0.75);
		text-decoration: none;
		border-bottom: 1px dotted;
		outline: 0;
	}
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #70c7be;
		border-radius: 4px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #82cec6;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #5ec0b6;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			background-color: rgba(255, 255, 255, 0.75) !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #202024 !important;
			cursor: default;
			opacity: 0.25;
		}

		input[type="submit"].style2,
		input[type="reset"].style2,
		input[type="button"].style2,
		button.style2,
		.button.style2 {
			background-color: #7f92cf;
		}

			input[type="submit"].style2:hover,
			input[type="reset"].style2:hover,
			input[type="button"].style2:hover,
			button.style2:hover,
			.button.style2:hover {
				background-color: #92a2d6;
			}

			input[type="submit"].style2:active,
			input[type="reset"].style2:active,
			input[type="button"].style2:active,
			button.style2:active,
			.button.style2:active {
				background-color: #6c82c8;
			}

		input[type="submit"].style3,
		input[type="reset"].style3,
		input[type="button"].style3,
		button.style3,
		.button.style3 {
			background-color: #9d7ed0;
		}

			input[type="submit"].style3:hover,
			input[type="reset"].style3:hover,
			input[type="button"].style3:hover,
			button.style3:hover,
			.button.style3:hover {
				background-color: #ab91d7;
			}

			input[type="submit"].style3:active,
			input[type="reset"].style3:active,
			input[type="button"].style3:active,
			button.style3:active,
			.button.style3:active {
				background-color: #8f6bc9;
			}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}
		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box .image.fit {
			margin: 0;
		}

		.box .image img {
			border-radius: 4px 4px 0 0;
		}

		.box .inner {
			padding: 1.5em;
			width: 100% !important;
		}

			@media screen and (max-width: 480px) {

				.box .inner {
					padding: 1em;
				}

			}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
    }
    
    .image {
      border-radius: 4px;
      border: 0;
      display: inline-block;
      position: relative;
    }
  
      .image img {
        border-radius: 4px;
        display: block;
      }
  
      .image.left, .image.right {
        max-width: 40%;
      }
  
        .image.left img, .image.right img {
          width: 100%;
        }
  
      .image.left {
        float: left;
        padding: 0 1.5em 1em 0;
        top: 0.25em;
      }
  
      .image.right {
        float: right;
        padding: 0 0 1em 1.5em;
        top: 0.25em;
      }
  
      .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
      }
  
        .image.fit img {
          width: 100%;
          height: 400px;
        }
  
      .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
      }
  
        .image.main img {
          width: 100%;
        }

        #main {
          padding: 4em 0 2em 0;
        }
      
          @media screen and (max-width: 736px) {
      
            #main {
              padding: 3em 0 1em 0;
            }
      
          }
      
          #main .inner {
            width: 90%;
            max-width: 80em;
            margin: 0 auto;
          }
      
            @media screen and (max-width: 480px) {
      
              #main .inner {
                width: 95%;
              }
      
            }

            .thumbnails {
              display: -moz-flex;
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              -moz-align-items: stretch;
              -webkit-align-items: stretch;
              -ms-align-items: stretch;
              align-items: stretch;
              -moz-justify-content: center;
              -webkit-justify-content: center;
              -ms-justify-content: center;
              justify-content: center;
              -moz-flex-wrap: wrap;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
            }
          
              .thumbnails .box {
                margin: 0 1em 2em 1em;
                width: 30%;
              }
          
                @media screen and (max-width: 1280px) {
          
                  .thumbnails .box {
                    width: 45%;
                  }
          
                }
          
                @media screen and (max-width: 736px) {
          
                  .thumbnails .box {
                    width: 100%;
                  }
          
                }
                *, *:before, *:after {
                  -moz-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                }
        .detailPrice {
          color:black;
        }